/* GAME DESIGN DAYS 2025 */

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/* @import "font.css"; */

:root {
  --color-bg: #fcebc6ff;
/*   --color-text-main: #e9e9e9; */
  --color-text-main: #000000;
  /* --color-text-header: #BFD7E6;
  --color-primary: #ffff00; */
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --body-font: "Hoefler Text", "Georgia", serif;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
.hidden, [hidden] {
  display: none !important;
}

/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/
body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: var(--body-font);
  font-size: 18px;
  color: var(--color-text-main);
  background-color: var(--color-bg);
  /* background-image: url(https://cdn.glitch.global/e37d6014-576d-4c9f-a772-037c5f5e17b0/bg_mobile.jpg?v=1730843264592);
  background-position: 0 0;
  background-size: auto 100%;
  background-repeat: no-repeat; */
}

.outer {
  width: 100vw;
  position: relative;
  transform-style: preserve-3d;
  perspective: 20px;
}

/* Page structure */
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid rgba(255,255,255,0);
  position: relative;
  /*   background-image: url(https://cdn.glitch.me/e37d6014-576d-4c9f-a772-037c5f5e17b0/city_full.png?v=1730321970724);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom; */
}

/* #index .wrapper {
  margin-top: calc(50vh - 5em);
} */

header {
  text-align: center;
  position: relative;
  top: 0;
  padding-top: 20px;
}

#index header {
  margin-top: 1em;
}

#events header {
  position: relative;
}

/* header.mask {
  background: rgb(225,235,249);
  background: linear-gradient(180deg, rgba(225,235,249,0.8) 80%, rgba(236,241,248,0) 100%); 
} */

header h1 {
  margin: 0;
  margin-bottom: 12px;
  font-size: 3em;
  letter-spacing: -2px;
  /* background-image: url(https://cdn.glitch.global/e37d6014-576d-4c9f-a772-037c5f5e17b0/HEADLINE.png?v=1730388548995);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -1000%; */
  overflow: hidden;
  text-align: center;
}

/* header img {
  max-width: 80%;
} */

#index header h1 {
  margin-bottom: 1.25em;
}

#events header {
  margin-bottom: 1em;
}

#events header a {
  color: black;
}

section {
  padding: 1rem;
  border: 1px solid #333333;
  /* border-radius: .5em; */
  background: rgba(255,255,255,0.7);
  margin-bottom: 1em;
  position: relative;
}

.parallax-bg {
  margin-top: 10px;
  height: 8%;
  width: 100vw;
  position: absolute;
  z-index: -1;
  background-size: 20%;
  background-repeat: no-repeat;
  pointer-events: none;
}

 .parallax-bg.left {
  background-position: center left;
  left: -9em;
 }

 .parallax-bg.right {
  background-position: center right;
  right: -9em;
 }

/* #events section {
  max-height: 529px;
  overflow: hidden;
}
 */

#events section img {
  width: 100%;
}

h2 {
  /* font-family: "GDD", "Gotham", sans-serif; */
}

ul.events {
  list-style-type: none;
  padding-left: 0;
  /* font-family: "Gotham", sans-serif; */
}

ul.events li {
  margin-bottom: 1em;
}

ul.events li a {
  color: black;
  text-decoration: underline;
}

ul.events li:last-child {
  margin-bottom: 0;
}

.img-holder {
  width: 100%;
  text-align: center;
  border: 1px solid #333333;
  /* border-radius: .5em; */
  overflow: hidden;
  margin-bottom: 1em;
}

.img-holder img {
  width: 100%;
  display: block;
}

.map img:hover {
  opacity: 0.5;
  background: white;
}

.rsvp {
  /* font-family: "GDD", "Gotham", sans-serif; */
  font-size: 1.5em;
  text-align: center;
}

.clearfix {
  clear: both;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  height: 500px;
  background-image: url('/static/Cityscape Full.png');
  background-position: bottom -110px center;
  background-size: 40%;
  background-repeat: no-repeat;
}

#events footer {
  margin-top: 50vh;
}

footer p {
  max-width: 531px;
}

footer img {
  height: 2.25em;
}

.lightbox-outer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0,0,0
  ,0.5);
}

.lightbox-inner {
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: calc(100vw - 4em);
  height: calc(100vh - 2em);
  overflow-x: hidden;
  overflow-y: scroll;
}

.lightbox-inner #close-lightbox {
  display: box;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  text-decoration: none;
  color: black;
}

.lightbox-inner section {
  border: none;
  max-width: 960px;
  margin: 0 auto;
}

.lightbox-inner .event-details {
  display: flex;
}

.lightbox-inner .img-holder {
  width: 60%;
}

.lightbox-inner .event-dta {
  margin-left: 1em;
}